ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-instagram:hover{
    background: rgb(81,91,212);
    background: linear-gradient(188deg, rgba(81,91,212,1) 10%, rgba(129,52,255,1) 22%, rgba(221,42,123,1) 55%, rgba(254,218,119,1) 85%, rgba(245,133,41,1) 91%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.fa-linkedin-square:hover{
    color: #0072b1;
}

.fa-github-square:hover{
    color: black;
}

#bg{
    background-color: black;
}