#img-bg{
    background-image: url('https://i.imgur.com/AtdmrgH.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bs:focus{
    box-shadow: 0.4em 0.4em 1em black;
    border-style: none;
}

.caixa{
    border-radius: 10px;
    border-color: black;
    box-shadow: 0 0 1em black;
}